__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.env/
.venv/


Lib/
Scripts/
share/
Include/
bin/
models/*
!models/SVMModel/
!models/SVMModel/.gitkeep

reports/*


.ipynb_checkpoints

!requirements/.gitkeep

data/*

.logs/
.data/
.idea/
.vscode/
.DS_Store
Thumbs.db

/*Rakuten_Streamlit_Presentation
