# Ignorer l'environnement virtuel (peu importe son nom courant)
venv/
env/
.env/
.venv/

# Ignorer les données (lourdes ou confidentielles)
data/

# Ignorer les fichiers compilés par Python (inutiles)
__pycache__/
*.pyc

# Ignorer les fichiers système (Mac/Windows)
.DS_Store
Thumbs.db